In [6]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn import svm
from sklearn.metrics import accuracy_score

In [7]:
diabetes_dataset = pd.read_csv('/content/dataset.csv')

In [8]:
diabetes_dataset.head()

   Pregnancies  Glucose  BloodPressure  ...  DiabetesPedigreeFunction  Age  Outcome
0            6      148             72  ...                     0.627   50        1
1            1       85             66  ...                     0.351   31        0
2            8      183             64  ...                     0.672   32        1
3            1       89             66  ...                     0.167   21        0
4            0      137             40  ...                     2.288   33        1

[5 rows x 9 columns]

In [12]:
diabetes_dataset.shape

(768, 9)

In [13]:
diabetes_dataset.describe()

       Pregnancies     Glucose  ...         Age     Outcome
count   768.000000  768.000000  ...  768.000000  768.000000
mean      3.845052  120.894531  ...   33.240885    0.348958
std       3.369578   31.972618  ...   11.760232    0.476951
min       0.000000    0.000000  ...   21.000000    0.000000
25%       1.000000   99.000000  ...   24.000000    0.000000
50%       3.000000  117.000000  ...   29.000000    0.000000
75%       6.000000  140.250000  ...   41.000000    1.000000
max      17.000000  199.000000  ...   81.000000    1.000000

[8 rows x 9 columns]

In [20]:
diabetes_dataset['Outcome'].value_counts()

0    500
1    268
Name: Outcome, dtype: int64

In [26]:
diabetes_dataset.groupby('Outcome').mean()

         Pregnancies     Glucose  ...  DiabetesPedigreeFunction        Age
Outcome                           ...
0           3.298000  109.980000  ...                  0.429734  31.190000
1           4.865672  141.257463  ...                  0.550500  37.067164

[2 rows x 8 columns]

In [30]:
X = diabetes_dataset.drop('Outcome',axis=1)
Y = diabetes_dataset['Outcome']

In [31]:
print(X)

     Pregnancies  Glucose  BloodPressure  ...   BMI  DiabetesPedigreeFunction  Age
0              6      148             72  ...  33.6                     0.627   50
1              1       85             66  ...  26.6                     0.351   31
2              8      183             64  ...  23.3                     0.672   32
3              1       89             66  ...  28.1                     0.167   21
4              0      137             40  ...  43.1                     2.288   33
..           ...      ...            ...  ...   ...                       ...  ...
763           10      101             76  ...  32.9                     0.171   63
764            2      122             70  ...  36.8                     0.340   27
765            5      121             72  ...  26.2                     0.245   30
766            1      126             60  ...  30.1                     0.349   47
767            1       93             70  ...  30.4                     0.315   23

[768 rows x 8 columns]

In [32]:
print(Y)

0      1
1      0
2      1
3      0
4      1
      ..
763    0
764    0
765    0
766    1
767    0
Name: Outcome, Length: 768, dtype: int64

In [33]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, random_state=3)

In [34]:
print(X.shape, X_train.shape, X_test.shape)

(768, 8) (614, 8) (154, 8)

In [38]:
scaler = StandardScaler()

In [39]:
scaler.fit(X_train)

StandardScaler(copy=True, with_mean=True, with_std=True)

In [40]:
X_train_standardized = scaler.transform(X_train)

In [41]:
print(X_train_standardized)

[[ 1.28218502 -0.00919894 -3.69291041 ... -0.22972222 -0.87864446
   0.40477138]
 [ 1.28218502  0.17598627  0.24307545 ... -0.75949753 -0.94417118
   0.49106639]
 [ 0.05639817  0.73154191 -0.60794852 ... -0.29432897 -0.5541312
   0.31847637]
 ...
 [ 0.05639817 -0.935125   -3.69291041 ... -0.4881492   0.45373211
  -0.19929369]
 [-0.86294196 -0.28697676  0.88134343 ... -0.21680087 -1.00345726
  -0.88965376]
 [ 0.6692916  -0.16351995 -0.50157052 ...  0.24836769 -0.68518463
   0.5773614 ]]

In [42]:
scaler.fit(X_test)

StandardScaler(copy=True, with_mean=True, with_std=True)

In [43]:
X_test_standardized = scaler.transform(X_test)

In [44]:
print(X_test_standardized)

[[-0.78922032 -0.74289998 -0.83544499 ... -1.03465255  0.06791626
  -0.56268491]
 [ 0.01038448  1.09160813  0.33716281 ...  1.8484539  -0.71245214
  -0.07813612]
 [-0.78922032 -0.87631875 -0.08497599 ... -1.15428353 -0.03775863
  -0.88571744]
 ...
 [ 0.01038448 -0.04245143  0.00883263 ...  0.25736196 -0.28975259
  -0.32041051]
 [ 0.54345434  1.02489874  0.47787575 ...  1.58526576  0.18984882
  -0.48192678]
 [ 0.54345434 -0.50941713 -1.11687086 ... -1.05857875  0.84557505
   0.16413828]]

In [45]:
print(X_train_standardized.std())

1.0

In [46]:
print(X_test_standardized.std())

1.0

In [47]:
model = svm.SVC(kernel='linear')

In [55]:
model.fit(X_train_standardized,Y_train)

SVC(C=1.0, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='scale', kernel='linear',
    max_iter=-1, probability=False, random_state=None, shrinking=True,
    tol=0.001, verbose=False)

In [63]:
Y_pred = model.predict(X_train_standardized)

In [64]:
training_accuracy = accuracy_score(Y_train,Y_pred)

In [65]:
print(training_accuracy)

0.7850162866449512

In [66]:
Y_pred = model.predict(X_test_standardized)

In [67]:
testing_accuracy = accuracy_score(Y_test,Y_pred)

In [68]:
print(testing_accuracy)

0.7337662337662337

### Prediction system

In [85]:
input_data = ((5,166,72,19,175,25.8,0.587,51),(5,166,72,19,175,25.8,0.587,51))

# changing the input_data to numpy array
input_data_as_numpy_array = np.asarray(input_data)

# reshape the array as we are predicting for one instance
# input_data_reshaped = input_data_as_numpy_array.reshape(1,-1)

input_data_as_numpy_array

array([[  5.   , 166.   ,  72.   ,  19.   , 175.   ,  25.8  ,   0.587,
         51.   ],
       [  5.   , 166.   ,  72.   ,  19.   , 175.   ,  25.8  ,   0.587,
         51.   ]])

In [83]:
# standardize the input data
std_data = scaler.transform(input_data_as_numpy_array)
print(std_data.std())
print(std_data)

prediction = model.predict(std_data)
print(prediction)

for i in prediction:
  if (i == 0):
    print('The person is not diabetic')
  else:
    print('The person is diabetic')

0.7482992799001026
[[ 0.27691941  1.42515505  0.19644988 -0.10485058  1.07953302 -0.843243
   0.23320262  1.45626841]
 [ 0.27691941  1.42515505  0.19644988 -0.10485058  1.07953302 -0.843243
   0.23320262  1.45626841]]
[1 1]
The person is diabetic
The person is diabetic